{% extends "blog/base.html" %}
{% block content %}
    <h1>Atlanta Vintage Books</h1>
    <p class="article-content">Welcome to Atlanta Vintage Books, serving book-lovers locally and worldwide for over 31 years. We're an independent, neighborhood bookstore in one of Atlanta's most ethnically diverse and vibrant communities. Our 5,000 sq. ft. bookstore holds over 75,000 vintage, collectible, and used books.</p>
    <p class="article-content">You'll be greeted with a smile when you enter but left alone as you browse. Our staff is friendly, knowledgeable, and always willing to answer questions or help you find a book. Large plate glass windows allow for plenty of natural light, while the antique display cases, old barrister bookcases, and two floors of comfy seating make for a warm, inviting space.</p>
    <p class="article-content">Welcome to Atlanta Vintage Books, serving book-lovers locally and worldwide for over 31 years. We're an independent, neighborhood bookstore in one of Atlanta's most ethnically diverse and vibrant communities. Our 5,000 sq. ft. bookstore holds over 75,000 vintage, collectible, and used books.</p>
    <p class="article-content"> Contact us at 770-457-2919 or <a href=https://www.atlantavintagebooks.com>https://www.atlantavintagebooks.com<a>!</p>
{% endblock content %}
