{% extends "blog/base.html" %}
{% block content %}
    <h1>Calico Cat Bookshop</h1>
    <p class="article-content">Welcome to the Calico Cat Bookshop, a small, independent bookshop in the heart of Ventura, California.  Established in 1975, we have a long tradition of quality used and rare books.  Everything from paperbacks to read at the beach to collectible, signed, first editions.   We have thousands of books to browse through, and believe you'll find something special every time you come for a visit.</p>
    <p class="article-content"> Contact us at 805-643-7849 or <a href=http://www.calicocatbooks.com>http://www.calicocatbooks.com<a>!</p>
{% endblock content %}
