{% extends "blog/base.html" %}
{% block content %}
    <h1>Dirty Jane's Antiques</h1>
    <p class="article-content">Over 24,000 square feet with over 100 vendors to peruse. Come and shop Dirty Jane's Antiques for all things antiques, vintage, mid-century and one-of-a-kind. A eclectic mix for your home. It changes daily so visit often!</p>
    <p class="article-content"> Contact us at (423) 498-3003 or at <a href="https://dirty-janes-antiques.myshopify.com/">http://dirtyjanesantiques.com!</a></p>>
{% endblock content %}