{% extends "blog/base.html" %}
{% block content %}
    <h1>Southside Antiques, LLC</h1>
    <p class="article-content">Southside Antiques is a group of antique dealers specializing in vintage & antique American, mid-century modern, industrial, French& English antiques & MORE!</p>
    <p class="article-content">Located in the heart of Chattanooga's bustling South Broad District, Southside Antiques, LLC is your source for quality antiques, unique home decor and fine gifts.</p>
    <p class="article-content">This Chattanooga antique shop has incredible American, English, and French antiques, along with collectible vintage items. With multiple dealers who have varying tastes, there truly is something for everyone here. </p>
    <p class="article-content">Come discover Southside Antiques, LLC - one of Chattanooga's best kept secrets! </p>
    <h2>Our Products</h1>
    	<p class="article-content">antique furniture, antique decor, vintage & antique american, mid-century modern, industrial, french & english antiques, farmhouse designs, bohemian finds, silver, china, glass & lighting, the unusual & eclectic </p>
    <p class="article-content"> Contact us at +423 265 30 04</p>>
{% endblock content %}